@media screen and (max-width: 992px) {
  .toggle-bar{
    display: block;
    cursor: pointer;
  }  
  .cross-mark{
    display: none;
  }
  .navitem{
    
    flex-direction: column;
    background: rgb(5, 3, 4);
    padding: 20px ;
    border-radius: 7px;
    width: 100%;
   
    
    row-gap: 20px;
    z-index: 2;
   
  }
  .navlink{
    color: white;
  }
  .navlink:hover.navlink:after{
    background: white;
  }
  .join-area{
    display: none;
  }
  .join-area-responsiv{
    display: block;
  }
 
  .navitem-area{
    position: absolute;
    left: 0;
    top:65px;
    display: none;
  }

}