$poppins : "Poppins", sans-serif;
$roboto :  "Roboto", sans-serif;
$inter : "Inter", sans-serif;
$opensanse : "Open Sans", sans-serif;
$light-background: #ffffff;
$light-text: #000000;
$dark-background: #343a40;
$dark-text: #ffffff;
$yellow: #f5dd05;
