.full-wrapper.dark-theme {
    background-color: $dark-background !important;
    color: $dark-text !important;
  
    .navbar, .footer {
      background-color: $dark-background !important;
      color: $dark-text !important;
      a{
        color: $dark-text !important ;
      }
    }
  }
  