.header-wrapper{
   box-shadow: var(--bs-box-shadow);
    nav{
        
        .left{
            a{
                width: 50px;
                display: block;
            }
            button{
               background: none;
                border-radius: 20px;
             border: none;
                color: $yellow;
                .themeModeicondark{
                    display: none;
                }
            }
        }
    }
}