html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.full-wrapper .header-wrapper {
  -webkit-box-shadow: var(--bs-box-shadow);
          box-shadow: var(--bs-box-shadow);
}
.full-wrapper .header-wrapper nav .topbar {
  width: 100%;
}
.full-wrapper .header-wrapper nav .topbar .left a {
  width: 50px;
  display: block;
}
.full-wrapper .header-wrapper nav .topbar .left button {
  background-color: #495057;
  /* Light theme background */
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.full-wrapper .header-wrapper nav .topbar .left button i {
  font-size: 20px;
  color: #fff;
  /* Light theme icon color */
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
}
.full-wrapper .header-wrapper nav .topbar .left button .themeModeiconlight {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.full-wrapper .header-wrapper nav .topbar .left button .themeModeicondark {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.full-wrapper .header-wrapper nav .topbar .left button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.full-wrapper .header-wrapper nav .topbar .left button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.full-wrapper .header-wrapper nav .topbar .right ul li {
  display: inline-block;
  margin-right: 20px;
}
.full-wrapper .header-wrapper nav .topbar .right ul li:last-child {
  margin-right: 0;
}
.full-wrapper .header-wrapper nav .topbar .right ul li a {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.full-wrapper.light-theme {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.full-wrapper.light-theme .navbar, .full-wrapper.light-theme .footer {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.full-wrapper.dark-theme {
  background-color: #343a40 !important;
  color: #ffffff !important;
}
.full-wrapper.dark-theme #theme-toggle {
  background-color: #fff !important;
}
.full-wrapper.dark-theme #theme-toggle .themeModeiconlight {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.full-wrapper.dark-theme #theme-toggle .themeModeicondark {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.full-wrapper.dark-theme #theme-toggle i {
  color: #000;
}
.full-wrapper.dark-theme .navbar,
.full-wrapper.dark-theme .footer {
  background-color: #343a40 !important;
  color: #ffffff !important;
}
.full-wrapper.dark-theme .navbar a,
.full-wrapper.dark-theme .footer a {
  color: #ffffff !important;
}