.getstartbtn{
    transition: all .3s ease;
    &:hover{
        background: rgb(255, 187, 0);
      
    }
}
.certificate-cart{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1) !important;
}
.row{
    overflow: hidden !important;
}